/* Testimonial Slider */
.carousel-control.left, .carousel-control.right{
	top: 50%;
	bottom: 50%;
}
.module-testimonials.option-1 {
	padding: 100px 0;
	background-color: ;
}
.module-testimonials.option-1:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: #eeeeee;
}
.module-testimonials.option-1 .section-headline h2 {
	font-size: 230%;
	text-transform: uppercase;
	line-height: 1;
}
.module-testimonials.option-1 .section-headline h2 span {
	font-size: 20px;
	line-height: 1;
	display: block;
	font-weight: 600;
	color: #878787;
	margin-top: 10px;
}
.module-testimonials.option-1 .testimonials-wrapper {
	display: flex;
	justify-content: center;
	margin: 90px 0;
	transition: .5s ease-out;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block {
	padding: 115px 60px 130px;
	background: #393939;
	border-radius: 30px;
	max-width: 1130px;
	transition: .5s ease-out;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment-icon {
	width: 110px;
	height: 110px;
	min-width: 110px;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -50px;
	background: #393939;
	left: 50%;
	transform: translate(-50%, 0);
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment-icon:before {
	content: "";
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: block;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment-icon span {
	color: #fff;
	position: absolute;
	top: 67%;
	left: 57%;
	transform: translate(-50%, -50%);
	margin-left: -10px;
	margin-bottom: 0;
	font-size: 100px;
	font-family: 'Font Awesome 5 Free';
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment p {
	text-align: center;
	color: #fff;
	font-size: 18px;
	max-width: 680px;
	margin: 0 auto;
	line-height: 1.6;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name {
	margin-top: 40px;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name .star-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name .star-wrapper svg {
	width: 19px;
	fill: #ecce68;
	margin: 0 3px;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name h5 {
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 15px;
	color: #fff;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name h5 span {
	font-weight: 300;
}
.module-testimonials.option-1 .testimonials-wrapper .testimonials-block .comment .ry-name h5.span-2 {
	margin-right: 5px;
	font-weight: 300;
}
.module-testimonials.option-1 .button-wrapper a {
	margin: 0 auto;
	display: flex;
	max-width: max-content;
}